.content__section {
  margin-bottom: 20px;
}

.content__section-element {
  width: 282px;
  height: 361px;
  top: 448px;
  left: 19px;
  gap: 0px;
  justify-content: center;
  margin: auto;
  margin-top: 36px;
  background-color: black;
}

.content__section-image {
  width: 282px;
  height: 282px;
  gap: 0px;
}

.content__section-text {
  width: 282px;
  gap: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: hsla(0, 0%, 100%, 1);
  display: flex;
  justify-content: space-between;
  flex-direction: rox;
}

.content__section-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__section-heart-image {
  width: 21px;
  height: 19px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  gap: 0px;
  opacity: 0px;
  margin-left: auto;
}

@media (min-width: 768px) {
  .content__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "image image image"
      "text text text";
  }

  .content__section-image {
    grid-area: image;
  }

  .content__section-text {
    grid-area: text;
  }
}
